<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from user;
    </select>
    <select id="queryUserById" resultType="com.pojo.User" parameterType="int">
        select * from user where id = #{id};
    </select>
    <update id="updateUser" parameterType="com.pojo.User">
        update user set name= #{name} ,pwd=#{pwd} where id =#{id}
    </update>
    <insert id="addUser" parameterType="com.pojo.User">
        insert into user(id,name,pwd) values (#{id},#{name},#{pwd})
    </insert>
    <delete id="deleteUser">
        delete from user where id=#{id}
    </delete>
</mapper>